@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

body {
    margin: 0px;
    overflow:hidden;
    font-family: 'Oswald', sans-serif;
}
canvas { 
    margin: auto;
    display: block;
    overflow:hidden; 
    overflow-x: hidden;
    margin: 0px; 
    padding: 0px; 
}
div#content {
    position: absolute;
    width: 21em;
    top: 35%;
    left: 35%;
}
#game{
    overflow:hidden;
}
div#contentform {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
}
span#texto {
    color: white;
    font-size: 2em;
}
span#spanError {
    color: red;
    font-size: 1.5em;
}
#element::-webkit-scrollbar { 
    display: none; 
}
::-webkit-scrollbar { 
    display: none; 
}
#boton {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 39px;
    position: absolute;
    top: -4px;
    bottom: 0;
    z-index: 1;
    right: -10px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
input#inputText {
    width: 100%;
    height: 29px;
    border: 4px solid rgba(0, 0, 0, .06);
    color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 transparent;
    -webkit-transition: border .2s;
    transition: border .2s;
}
@media (max-width:800px) {
    div#content{
        width: 100%;
        left:0;
    }
}
[role=button], a, button, input, label, select, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}