canvas { 
    margin: auto;
    display: block;
    overflow:hidden; 
    overflow-x: hidden;
    margin: 0px; 
    padding: 0px; 
}
body {
    margin: 0px;
    overflow:hidden; 
}
@import url('https://fonts.googleapis.com/css?family=Oswald');