canvas { 
    margin: auto;
    display: block;
    overflow:hidden; 
}
body {
    margin: 0px;
    overflow:hidden; 
}
@media screen and (max-width:640px) {
    canvas {
        width: 100%;
    }
}
@import url('https://fonts.googleapis.com/css?family=Oswald');